@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ru-background: 0 0% 100%;
    --ru-foreground: 240 10% 3.9%;

    --ru-primary: 240 5.9% 10%;
    --ru-primary-foreground: 0 0% 98%;

    --ru-secondary: 240 4.8% 95.9%;
    --ru-secondary-foreground: 240 5.9% 10%;

    --ru-muted: 240 4.8% 95.9%;
    --ru-muted-foreground: 240 3.8% 46.1%;

    --ru-accent: 240 4.8% 95.9%;
    --ru-accent-foreground: 240 5.9% 10%;

    --ru-destructive: 0 84.2% 60.2%;
    --ru-destructive-foreground: 0 0% 98%;

    --ru-border: 240 5.9% 90%;
    --ru-input: 240 5.9% 90%;
    --ru-ring: 240 10% 3.9%;

    --ru-radius: 0.8rem;
  }
}
